@media (max-width: 1185px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 1050px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 910px) {
  html {
    font-size: 60%;
  }
  .menu-btn {
    display: inline-block;
  }
  header {
    padding: 0.5rem 9vw;
  }
  header .main-logo {
    display: flex;
  }
  .header-content {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, -120%);
    width: 100vw;
    flex-direction: column;
    height: 70vh;
  }
  .header-content ul {
    flex-direction: column !important;
    flex-grow: 1;
    justify-content: space-evenly !important;
  }
  .header-content .head-logo {
    display: none !important;
  }
  .active-menu {
    top: 8rem;
    transform: translate(0, 0);
    z-index: 9;
  }

  .active-menu-header {
    width: 100vw;
    padding-bottom: 100vh;
    /* align-items: flex-start; */
  }
}
@media (max-width: 450px) {
  .head-title {
    font-size: 3.4rem;
  }
  #rest-list {
    gap: 0;
  }
  .rest-img {
    width: 11rem;
    height: 11rem;
  }
}
@media (max-width: 365px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 330px) {
  html {
    font-size: 50%;
  }
}
